<div class="row align-items-center justify-content-around">
    <div class="card w-50 mt-5">
        <div class="card-header bg-dark">
            <div class="image-container">
                <img src="../../assets/img/birthday.png" class="img-fluid" alt="Aniversariantes">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Aniversariantes</h5>
            <p class="card-text">Artistas e bandas fazendo aniversário.</p>
            <a href="#" class="btn btn-dark">Confira!</a>
        </div>
    </div>
    <div class="card w-50 mt-5">
        <div class="card-header bg-dark">
            <div class="image-container">
                <img src="../../assets/img/calendar.png" class="img-fluid" alt="Álbuns antigos">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Álbuns antigos</h5>
            <p class="card-text">Álbuns antigos que foram lançados neste dia.</p>
            <a href="#" class="btn btn-dark">Confira!</a>
        </div>
    </div>
</div>
<div class="row align-items-center justify-content-around">
    <div class="card w-50 mt-5">
        <div class="card-header bg-dark">
            <div class="image-container">
                <img src="../../assets/img/statistics.png" class="img-fluid" alt="Estatísticas">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Estatísticas</h5>
            <p class="card-text">Estatísticas variadas sobre a Base de Conhecimento.</p>
            <a href="#" class="btn btn-dark">Confira!</a>
        </div>
    </div>
    <div class="card w-50 mt-5">
        <div class="card-header bg-dark">
            <div class="image-container">
                <img src="../../assets/img/exclamation.png" class="img-fluid" alt="Últimos álbuns">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Últimos Álbuns</h5>
            <p class="card-text">Últimos álbuns cadastrados na Base de Conhecimento.</p>
            <a href="#" class="btn btn-dark">Confira!</a>
        </div>
    </div>
</div>
