<table class="table table-sm table-bordered mt-4">
    <thead class="thead-light">
        <tr class="text-center">
            <th style="width: 90%;">Nome</th>
            <th style="width: 10%;">*</th>
        </tr>
    </thead>
    <tr *ngFor="let artista of artistas">
        <td class= "p-0 text-center">{{artista.nome}}</td>
        <td class= "p-0 text-center">
            <a class="btn btn-link p-0" (click)="editar(artista.id)">
                <img src="../../../assets/img/edit_small.png" alt="Editar">
            </a>
            <a class="btn btn-link p-0" (click)="excluir(artista.id)">
                <img src="../../../assets/img/delete_small.png" alt="Excluir">
            </a>
        </td>
    </tr>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">
                <div>
                    <a class="btn btn-dark" (click)="adicionar()">
                        <img src="../../../assets/img/new_small.png" alt="Novo Artista" class="icon-img">
                        <span class="text-white font-weight-bold">Novo Artista</span>
                    </a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
