<header ng-include="'partials/header.html'">
</header>

<div>
    <a class="btn btn-dark">
        <img src="img/new_small.png" alt="Novo Artista" class="icon-img">
        <span class="text-white">Novo Artista</span>
    </a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Nome Real</th>
            <th>Data Nascimento</th>
            <th>*</th>
        </tr>
    </thead>
    <tr>
        <td>Ozzy Osbourne</td>
        <td>John Michael Osbourne</td>
        <td>03/12/1948</td>
        <td>
            <img src="img/edit_small.png" alt="Editar">
            <img src="img/delete_small.png" alt="Excluir">
        </td>
    </tr>
    <tr>
        <td>Zakk Wylde</td>
        <td>Zachary Phillip Wylde</td>
        <td>14/01/1967</td>
        <td>
            <img src="img/edit_small.png" alt="Editar">
            <img src="img/delete_small.png" alt="Excluir">
        </td>
    </tr>
</table>
