<header ng-include="'partials/header.html'">
</header>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>*</th>
        </tr>
    </thead>
    <tr>
        <td>Heavy Metal</td>
        <td>
            <img src="img/edit_small.png" alt="Editar">
            <img src="img/delete_small.png" alt="Excluir">
        </td>
    </tr>
    <tr>
        <td>Thrash Metal</td>
        <td>
            <img src="img/edit_small.png" alt="Editar">
            <img src="img/delete_small.png" alt="Excluir">
        </td>
    </tr>
</table>
