<h1 class="display-3 text-center">Ripando a História do Rock - Base de Conhecimento</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="#/artistas">Artistas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="#/estilos">Estilos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#/">Gravadoras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#/">Bandas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#/">Álbuns</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="pesquise aqui" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0 font-weight-bold" type="submit">Pesquisa</button>
    </form>
  </div>
</nav>
